<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_ENCRYPT_DB_PRIMARY_KEY_FORMAT" value="int"/>
        <env name="DB_ENCRYPT_KEY" value="Ky4cw2sqPi0Hm7w0UqYa"/>
        <env name="DB_ENCRYPT_LOG_INDICATOR" value="sync-modeltocrm"/>
        <env name="DB_ENCRYPT_LOG_LEVEL" value="3"/>
    </php>
</phpunit>
